{% extends 'foundation/base.html' %}
{% block title %}My Blog{% endblock title %}
{% block css %}
  {% load static %}
<html>
  <link href="{% static 'css/blog.css' %}" rel="stylesheet"/>
  <link href="{% static 'foundation/css/foundation-icons.css' %}" rel="stylesheet"/>
{% endblock css %}

{% block base_body %}
<header>
  <div class="top-bar">
    <div class="top-bar-left">
      <h3><a href="/">Tromme</a></h3>
    </div>

    <div class="top-bar-center">
      {% if user.is_authenticated %}
        <div class="right">
          <a href="{% url 'post_new' %}" >
            <i class="fi-plus"></i>
            Add post
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</header>

  <div class="row">
    <div class="columns large-12">
      <div>
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
{% endblock base_body %}

</html>
